* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --bgColor: hsl(0, 100%, 74%);
    --borderColor: hsl(246, 25%, 77%);
    --headFormColor: hsl(248, 32%, 49%);
    --inputColor: hsl(249, 10%, 26%);
    --buttonColor: hsl(154, 59%, 51%);
  }